

body {
    background-color: rgb(7, 221, 7);
}

table {
    border: 2px solid black;
    background-color: honeydew;
  }

  .firstDiv{
    color: blue;
    background-color:lavender;
}

#secondtextcolor{
  color: black;
  text-shadow: 2px 2px 8px #00b7ff;
}
  
  #question1text{
    color: black;
    background: yellow;
    text-decoration: underline;
  }

  #question2text{
    color: black;
    background: yellow;
    text-decoration: underline;
  }

.secondDiv{
  color: rgb(0, 195, 255);
  background-color:rgb(167, 243, 179);
  text-decoration: underline;
}

  
  