
.subtitles{
    font-family:monospace;
    font-weight: bold;
    text-align: center;
    border:skyblue;
    border-width: thick;
    border-width: 2px;
    border-style: solid;;
    color:white;

    background-color:steelblue;
}

.container{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    border:springgreen;
    border-width: thick;
    border-width: 2px;
    border-style: solid;;
    color:midnightblue;

    background-color:lightskyblue;
}

.container2{
    color: black;
    background-color:mintcream;
    border: skyblue;
    border-width: thick;
    border-width: 2px;
    border-style: solid;;
}
